@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@keyframes shoot {
  0% {
    transform: translate(0,0) rotate(var(--angle));
    opacity: 1;
  }
  100% {
    transform: translate(calc(var(--dir) * 120vw), 120vh)
      rotate(var(--angle));
    opacity: 0;
  }
}

@keyframes spin{
  from{
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
